	

<div class="row">
  <div class="span6 offset3">
  

    <%= form_for @user, :html => { :multipart => true } do |f| %>
	
	<%= f.file_field :attach %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
     <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <%= pluralize(@user.errors.count, "error") %>
<% end %>
  </div>
</div>