<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
<a href="<%= @user.attach.url %>">
    	<%= image_tag @user.attach.url %>
		</a>

	   <h1><%= @user.name %></h1>
	  
        
        <h2>Zip Code: <%= @user.zipcode %></h2>
      
      
	
       <%= render :partial => 'deal', :collection => @deals  %>
        
        <h2>Email: <%= @user.email %></h2>
    	
      
    </section>
  </aside>
</div>	